<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="Awqat Salaat WinUI" Manufacturer="Khiro" Version="!(bind.fileVersion.AwqatSalaat.WinUI.dll)" UpgradeCode="D124C6DF-F135-4659-BBD1-F85B168BFE1A">

        <MajorUpgrade AllowSameVersionUpgrades="true" DowngradeErrorMessage="!(loc.DowngradeError)" />

        <MediaTemplate EmbedCab="true"/>

        <StandardDirectory Id="ProgramMenuFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="!(bind.Property.ProductName)"
                          Description="Launch !(bind.Property.ProductName)"
                          Target="[#AwqatSalaat.WinUI.exe]"
                          WorkingDirectory="INSTALLFOLDER"/>

                <RegistryValue Root="HKCU" Key="Software\!(bind.Property.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </StandardDirectory>

        <Feature Id="Main">
            <ComponentGroupRef Id="AwqatSalaat.WinUI.Components" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>

        <SetProperty Id="ShortVersion" Value="!(bind.property.ProductVersion.Major).!(bind.property.ProductVersion.Minor).!(bind.property.ProductVersion.Build)" Before="PrepareDlg" Sequence="ui" />
        <SetProperty Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing [ProductName]." After="FindRelatedProducts" Sequence="ui" />
        <SetProperty Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch [ProductName]." After="FindRelatedProducts" Sequence="ui" />
        
        <Property Id="WixShellExecTarget" Value="[#AwqatSalaat.WinUI.exe]" />
        <CustomAction Id="LaunchApplication" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" DllEntry="WixShellExec" Execute="immediate" Return="check" />

        <ui:WixUI Id="WixUI_Custom" InstallDirectory="INSTALLFOLDER" />
    </Package>
</Wix>
